h4 {
    color: blue;
    font-size: medium;
}

title {
    size: 10in;
    font: 700;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button:hover {
    color: blueviolet;
}

